h1 {
  font-size: 60px;
  font-family: Sacramento;
}

a {
  color: #0092ca;
}

.App-main {
  max-width: 600px;
  margin: 0 auto;
}

.App-header {
  margin: 20px 0;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
  font-size: 15px;
}
