.Dictionary h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.Dictionary section {
  background: #f8b400;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  margin: 15px 0;
}

.Dictionary input {
  width: 100%;
  border-radius: 6px;
  padding: 6px 10px;
  color: #333;
  border: 1px solid #ddd;
}

.Dictionary .hint {
  text-align: left;
  color: #475053;
  font-size: 11px;
  margin-top: 5px;
}
